
<main class="main">
  <div class="container">
    <h2 class="heading">Save Money App</h2>
    <h3>{{ title }}</h3>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Income" aria-label="Income" aria-describedby="Income" (keyup)="setIncome($event)">
          <button type="button" class="btn btn-primary">Add</button>
        </div>
        <p>Ausgabe: {{ income }}</p>
        <i class="bi-alarm"></i>
      </div>

      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Outcome" aria-label="Outcome" aria-describedby="Outcome" (keyup)="setOutcome($event)">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-0-square"></i>Add</button>
        </div>
      <p>Ausgabe: {{ outcome }}</p>
      </div>
    </div>
    <!--<form #userForm="" (ngSubmit)="">-->

  </div>
</main>
<!-- <router-outlet /> -->
